html,
body,
* {
  margin: 0;
  padding: 0;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.menu_item {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
}
.submenu {
  position: absolute;
  padding: 0;
  list-style: none;
  height: 0.5em;
  width: 0.5em;
  overflow: hidden;
  clip: rect(0.5em 0.5em 0.5em 0.5em);
  clip: rect(0.5em, 0.5em, 0.5em, 0.5em);
}
.menu_item:hover .submenu,
.menu_item.focus .submenu {
  padding: 0.5em 0;
  width: 9em;
  height: auto;
  background: #111;
  clip: auto;
}

.menu_item:hover .submenu,
.menu_item:focus-within .submenu {
  padding: 0.5em 0;
  width: 9em;
  height: auto;
  background: #111;
  clip: auto;
}

/* general styling */

h1 {
  margin: 200px 0 50px 0;
  text-align: center;
}

th {
  height: 50px;
  background-color: #111;
  color: white;
  font-size: 1.5em;
}

td {
  text-align: center;
  font-size: 1.2em;
}
